body {
  background-color: rgb(26, 26, 56);
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container {
  width: 250px;
  background-color: rgb(52, 52, 72);
  color: white;
  border-radius: 5px;
  margin: 16px;
}

.movie-container img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.movie-info h4 {
  margin: 0;
}

.movie-info span {
  margin-left: 3px;
}
